$primary-color: white;
$secondary-color: orange;
$tertiary-color: red;

$primary-background: #4b367c;
$secondary-background: white;
$tertiary-background: white;

$primary-border: black;
$secondary-border: black;
$tertiary-border: black;
