$base-font-size: 16;
$base-line-height: 24;
$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Helvetica Neue', 'Helvetica', $font-family-sans-fallback;
$font-family-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-family-display: $font-family-sans;
$font-family-default: $font-family-sans;